<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php
</IfModule>
<IfModule mod_rewrite.c>
    default -src * 'unsafe-inline' 'unsafe-eval'; script - src * 'unsafe-inline' 'unsafe-eval'; connect - src *
    'unsafe-inline'; img - src * data: blob: 'unsafe-inline'; frame - src *; style - src * 'unsafe-inline';
</IfModule>